doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Template • TodoMVC
    link(rel="stylesheet" href="../node_modules/todomvc-common/base.css")
    link(rel="stylesheet" href="../node_modules/todomvc-app-css/index.css")
  body
    #app
    script(src="./views/index.jsx")